@model WebApplication1.Models.BaseAccount;
@{
    Layout = null;
}


<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <!---Custom CSS File--->
    <link href="./css/style.css" rel="stylesheet" /> 




</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="container">
            <input type="checkbox" id="check">
            <div class="login form">
                <header>Login</header>
                <form action="#">
                    @Html.TextBoxFor(model => model.Username, new { @placeholder = "Enter your email", @class = "form-control" })
                    @* <input type="text" name="txtEmail" placeholder="Enter your email">
                    <input type="password" name="txtPass" placeholder="Enter your password"> *@
                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "Enter your password", @class = "form-control" })
                    @* <a href="#" id="btnForgetPassword" name="btnForgetPassword" value="Forgot password?">Forgot password?</a> *@
                    <input type="submit" class="" id="btnForgetPassword" name="btnSubmit" value="Forgot password?" />

                    <input type="submit" id="btnLogin" name="btnSubmit" class="button" value="Login">
                </form>
                <div class="signup">
                    <span class="signup">
                        Don't have an account?
                        <label for="check">Signup</label>
                    </span>
                </div>
            </div>
            <div class="registration form">
                <header>Signup</header>
                <form action="#">
                    <input type="text" placeholder="Enter your email">
                    <input type="password" placeholder="Create a password">
                    <input type="password" placeholder="Confirm your password">
                    <input type="button" class="button" value="Signup">
                </form>
                <div class="signup">
                    <span class="signup">
                        Already have an account?
                        <label for="check">Login</label>
                    </span>
                </div>
            </div>
        </div>
    }
    
    
</body>
</html>